* @Arseni10Lk

# Hopefully other people will be added
analyses/aerodynamics/ @Arseni10Lk
analyses/aero/         @Arseni10Lk
analyses/propulsion/   @Arseni10Lk
src/schemas/           @Arseni10Lk
vehicles/              @Arseni10Lk
workflows/             @Arseni10Lk
analyses/trajectory/   @Arseni10Lk
docs/                  @Arseni10Lk
external/              @Arseni10Lk
.github/               @Arseni10Lk
