[submodule "external/suave"]
	path = external/suave
	url = https://github.com/suavecode/SUAVE
[submodule "external/pycycle"]
	path = external/pycycle
	url = https://github.com/OpenMDAO/pyCycle
[submodule "external/su2"]
	path = external/su2
	url = https://github.com/su2code/SU2
[submodule "external/openvsp"]
	path = external/openvsp
	url = https://github.com/OpenVSP/OpenVSP
